/* Import Google Font - Poppins */

  @import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Fira Code', monospace;
}

body{
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #1d2929;
  overflow: hidden;
}
.navbar {
  position: absolute; top: 13%;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  color: #17A2B8;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 22px;
  
  
}


::selection{
  color: #fff;
  background: #17A2B8;
}
.wrapper{
  
  margin: 200px 150px;
  width: 100vw;
  /* padding: 35px; */
  background: #1d2929;
  border-radius: 0px;
  /* box-shadow: 0 10px 15px rgba(0,0,0,0.05); */
}
.wrapper .input-field{
  opacity: 0;
  z-index: -999;
  position: absolute;
}
.wrapper .content-box{
  padding: 13px 20px 0;
  
  /* border: 1px solid #bfbfbf; */
}
.content-box .typing-text{
  overflow: hidden;
  
}
.typing-text::-webkit-scrollbar{
  width: 0;
}
.typing-text p{
  
  font-size: 23px;
  text-align: center;
  letter-spacing: 1px;
  word-break: break-all;
  color:#7d7b7b;
  margin-bottom: 50px;
}
.typing-text p span{
  position: relative;
}
.typing-text p span.correct{
  color: #17A2B8;
}
.typing-text p span.incorrect{
  color: #cb3439;
  /* outline: 1px solid #fff; */
  /* background: #ffc0cb; */
  border-radius: 4px;
}
.typing-text p span.active{
  color: #7d7b7b;
}
.typing-text p span.active::before{
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: 0;
  border-radius: 5px;
  background: #17A2B8;
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink{
  50%{ 
    opacity: 1; 
  }
}
.content-box .content{
  margin-top: 17px;
  display: flex;
  padding: 12px 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* border-top: 2px solid #17A2B8; */
}

.content button:active{
  transform: scale(0.97);
}
.content .result-details{
  color: #17A2B8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% );
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
.result-details li{
  display: flex;
  height: 30px;
  list-style: none;
  position: relative;
  align-items: center;
  gap: 10px;
}
/* .result-details li:not(:first-child){
  padding-left: 25px;
  border-left: 1px solid #bfbfbf;
} */
.result-details li p{
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.result-details li span{
  
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  
}





.mistake{
  color: #cb3439;
}

.content button{
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 10px;
  width: 200px;
  
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 40px;

  border: 1px solid transparent;
  color: #7d7b7b;
  padding: 8px 0;
 
  cursor: pointer;
  
  background-color: transparent;
  transition: transform 0.3s ease;
}

.wrapper .right{
  width: 200px;
  display: flex;
  color: #17A2B8;
  justify-content: space-between;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.wrapper .right .numbers{
  
  display: flex;
  color: #7d7b7b;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
  
  
}

.wrapper .right .numbers span:hover {
  color:yellow;
  
}

.content button:hover {
  color:#17A2B8;
  
}

#tooltip{
  position: relative;
}

#tooltiptext{
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  white-space: nowrap;
  padding: 10px;
  border-radius: 10px;
  font-size: 17px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#tooltiptext::before{
  content: "";
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color:  #0000 #0000 #000 #0000 ;
}

#tooltip:hover #tooltiptext{
  top: 130%;
  visibility: visible;
  opacity: 1;
}

.wrapper .bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .bottom .left{
  
}




/* 
@media (max-width: 745px) {
  .wrapper{
    padding: 20px;
  }
  .content-box .content{
    padding: 20px 0;
  }
  .content-box .typing-text{
    max-height: 100%;
  }
  .typing-text p{
    font-size: 19px;
    text-align: left;
  }
  .content button{
    width: 100%;
    font-size: 15px;
    padding: 10px 0;
    margin-top: 20px;
  }
  .content .result-details{
    width: 100%;
  }
  .result-details li:not(:first-child){
    border-left: 0;
    padding: 0;
  }
  .result-details li p, 
  .result-details li span{
    font-size: 17px;
  }
} */
/* @media (max-width: 518px) {
  .wrapper .content-box{
    padding: 10px 15px 0;
  }
  .typing-text p{
    font-size: 18px;
  }
  .result-details li{
    margin-bottom: 10px;
  }
  .content button{
    margin-top: 10px;
  }


} */


